body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: .4s;
  }
  
  .input {
    visibility: hidden;
  }
  
  .label {
    position: absolute;
    width: 4rem;
    height: 3rem;
    background-color: lightgray;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .circle {
    width: 2rem;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: toggleOff 0.4s linear forwards;
  }
  
  .input:checked + .label {
    background-color: white;
  }
  
  .input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
  }
  
  @keyframes toggleOn {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(3rem);
    }
  }
  
  @keyframes toggleOff {
    0% {
      transform: translateX(3rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  