body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: pink;
  }
  
  h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }
  
  .container {
    text-align: center;
  }
  
  .btn {
    padding: 2rem 3rem;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 2rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url("images/tom.png");
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    color: pink;
  }
  
  .btn:active {
    background-size: 105%;
  }
