body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: wheat;
  }
  
  .slider-container {
    position: relative;
    width: 500px;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .btn.prev {
    left: 0.5rem;
  }
  
  .btn.next {
    right: 0.5rem;
  }
  
  .btn:hover {
    opacity: 1;
  }