body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
    width: 25rem;
    height: 25rem;
  }
  
  .btn {
    background-color: slateblue;
    border: none;
    padding: 10px 1rem;
    margin: 1rem;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  